---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header class="w-full max-h-[40vh] relative">
    <div class="absolute top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-center drop-shadow-lg">
      <h1 class="sm:text-6xl text-4xl leading-snug">Partiburen</h1>
      <h2 class="sm:text-lg text-neutral-50 text-sm">Buurtkoor in Gent</h2>
    </div>
    <img src="/header.jpg" alt="Partiburen op de Gentse Feesten 2024" class="w-full" />
  </header>
  <div class="p-4 flex flex-col justify-center items-center">
    <a href="https://www.instagram.com/de_partiburen" target="_blank"
      ><img
        src="/instagram.png"
        alt="https://www.instagram.com/de_partiburen?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
        class="size-12"
      /></a
    >
  </div>
  <main>
    <div class="p-4">
      <h1 class="text-3xl leading-relaxed mb-2">Wie zijn we?</h1>
      <p>
        De Partiburen is een ouder- en buurtkoor van De Wijze Boom aan de Rozenbroeken. We repeteren <b
          >elke donderdagavond van 20u tot 22u</b
        > in de leraarskamer van de school. Bij mooi weer zingen we wel eens buiten in het park.
      </p>
      <p class="mt-2">
        We werken geregeld met gastdirigenten, die zich telkens voor enkele maanden engageren. Zo kwam <b>Wim Claeys</b> zijn eigen Gentse volksrepertoire
        met ons inoefenen, deed <b>Peter Boone</b> met ons muziek uit de sixties en seventies en bracht <b>Aike Roodenburg</b> van Papillon wereldmuziek mee.
      </p>
      <p class="mt-2">
        <a target="_blank" href="https://www.koorenstem.be/nl/artikel/zingen-in-de-buurt" class="underline">Lees meer</a>
      </p>
    </div>
    <div class="p-4 flex flex-col">
      <h1 class="text-3xl leading-relaxed mb-2">Meezingen?</h1>
      <p>
        Iedereen is welkom: je moet geen noten kunnen lezen. We zingen doorgaans muziek die de laatste 25 jaar te horen was op Radio 1 of op
        Studio Brussel, ondersteund door de cajon, wat kleine percussie en Pierre op gitaar. Voor klassieke popnummers zijn de strofes vaak
        1-stemmig en de refreinen 2- of 3-stemmig.
      </p>
      <p class="mt-2">todo: link naar gsm</p>

      <img src="/join.jpg" alt="Gezellig in het park" class="px-16 mt-4 self-center" />
    </div>
  </main>
</Layout>
