---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header class="w-full max-h-[40vh] relative">
    <div class="absolute top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-center drop-shadow-lg">
      <h1 class="sm:text-6xl text-4xl leading-snug">Partiburen</h1>
      <h2 class="sm:text-lg text-neutral-50 text-sm">Buurtkoor in Gent</h2>
    </div>
    <img src="/header.jpg" alt="Partiburen op de Gentse Feesten 2024" class="w-full" />
  </header>
  <main>Partiburen - Buurtkoor te Gent</main>
</Layout>
