---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header class="w-full relative overflow-hidden">
    <div class="absolute inset-0 top-8 sm:top-24 bottom-auto flex flex-col justify-center text-white text-center drop-shadow-lg">
      <div class="">
        <h1 class="sm:text-6xl text-5xl leading-snug">Partiburen</h1>
        <h2 class="sm:text-lg text-neutral-50 text-sm">Buurtkoor in Gent</h2>
      </div>
    </div>
    <img src="/header.jpg" alt="Partiburen op de Gentse Feesten 2024" class="w-full" />
  </header>
  <div class="p-4 mt-6 flex flex-row gap-12 justify-center items-center">
    <a href="https://www.instagram.com/de_partiburen" target="_blank" class="shrink-0"
      ><img
        src="/instagram.png"
        alt="https://www.instagram.com/de_partiburen?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
        class="size-12"
      /></a
    >
    <a href="https://www.facebook.com/profile.php?id=100085963819719" target="_blank" class="shrink-0"
      ><img src="/facebook.png" alt="https://www.facebook.com/profile.php?id=100085963819719" class="size-12" /></a
    >
  </div>
  <main>
    <div class="p-4">
      <h1 class="text-3xl leading-relaxed mb-2">Wie zijn we?</h1>
      <p>
        De Partiburen is een ouder- en buurtkoor van De Wijze Boom aan de Rozenbroeken. We repeteren <b
          >elke donderdagavond van 20u tot 22u</b
        > in de leraarskamer van de school. Bij mooi weer zingen we wel eens buiten in het park.
      </p>
      <p class="mt-2">
        We werken geregeld met gastdirigenten, die zich telkens voor enkele maanden engageren. Zo kwam <b>Wim Claeys</b> zijn eigen Gentse volksrepertoire
        met ons inoefenen, deed <b>Peter Boone</b> met ons muziek uit de sixties en seventies en bracht <b>Aike Roodenburg</b> van Papillon wereldmuziek mee.
      </p>
      <p class="mt-2">
        <a target="_blank" href="https://www.koorenstem.be/nl/artikel/zingen-in-de-buurt" class="underline">Lees meer</a>
      </p>
    </div>
    <div class="p-4 flex flex-col">
      <img src="/join.jpg" alt="Gezellig in het park" class="my-4 mb-8 self-center" />
      <h1 class="text-3xl leading-relaxed mb-2">Meezingen?</h1>
      <p>
        Iedereen is welkom: je moet geen noten kunnen lezen. We zingen doorgaans muziek die de laatste 25 jaar te horen was op Radio 1 of op
        Studio Brussel, ondersteund door de cajon, wat kleine percussie en Pierre op gitaar. Voor klassieke popnummers zijn de strofes vaak
        1-stemmig en de refreinen 2- of 3-stemmig.
      </p>
      <p class="mt-2">Voor meer informatie: <a href="tel:32497401843">0497 40 18 43</a></p>
    </div>
    <div class="p-4">
      <iframe
        style="border-radius:12px py-4"
        src="https://open.spotify.com/embed/playlist/5cTvDz05adEOop9zYRiyBx?utm_source=generator&theme=0"
        width="100%"
        height="352"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
    </div>
    <div class="flex justify-center text-neutral-600 p-4 pb-8">
      Lid van&nbsp;<a class="underline" href="https://www.koorenstem.be/nl">Koor&Stem vzw</a>
    </div>
  </main>
</Layout>
