<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Meezingen of ons boeken?" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Partiburen - Hedendaags koor in Gent</title>
	</head>
	<body>
		<slot />
	</body>
</html>
